
body.night-mode {
  background-color: #000;
  color: #fff;
}
#current-paragraph{
  font-size: large;
}
#current-paragraph span{
  float: left;
  padding-left: 5px;
}
#current-paragraph span.focus{
  color: red;
}
#current-paragraph-wrapper{
  margin-top: 50px;
}
#paragraphs{
  text-align: right;
}
.sprtizer-wrapper{
  margin-top: 200px;
}
.spritzed::before, .spritzed::after {
    content: "";
    display: block;
    position: absolute;
    left: 48.7%;
    margin-left: -1px;
    height: 10px;
    background-color: red;
    width: 2px;
    top: 0;
    margin-bottom: -15px;
}

.spritzed::after {
    top: auto;
    bottom: 0;
}

.spritzed > div {
    position: absolute;
}

.highlight {
    color: #c00;
}

#mydiv {
    height:8em;
    margin-top: -3em; 
    border: 1px 0px 1px 0px solid #ccc;
}
h1{
  text-align: center;
vertical-align: middle;
line-height: -3em;   
font-weight: 300;
font-size: 6em;
}